---
title: Bento Budget | Envelope Budgeting Software
---
<div id="jumbotron">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div id="slides" class="cycle-slideshow" data-cycle-pause-on-hover="true" data-cycle-speed="800">
					<img class="img-rounded" src="{{assets}}/images/front-screenshot.png" />
					<img class="img-rounded" src="{{assets}}/images/front-budget.png" />
					<img class="img-rounded" src="{{assets}}/images/front-group-spending.png" />
					<img class="img-rounded" src="{{assets}}/images/front-envelope-spending.png" />
				</div>
			</div>
			<div id="jumbotron-text" class="col-md-6">
				<span>Bento Budget helps you take control of your money.</span>
				<p class="lead">Whether you don't have one, don't stick to one or are frustrated with your current budget, Bento Budget can help take the pain out of budgeting.</p>
			</div>
			<div class="text-center">
				<a href="https://app.bentobudget.com/signup" class="btn btn-warning btn-lg">Sign Up Now!<div id="signup-its-free">( it's free )</div></a>   
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-4">
			<h4><i class="fa fa-globe"></i>&nbsp;Available Anywhere</h4>
			<p>Access your budget anytime, anywhere.  Whether you are at work, home, on the go or traveling across the globe, Bento Budget is available when you need it.</p>  
		</div>
		<div class="col-md-4">
			<h4><i class="fa fa-cloud-upload"></i>&nbsp;Bank Import</h4>
			<p>Save time by importing transaction files from your bank or setting up a <strong>linked account</strong> which downloads transaction from your bank automatically.</p>
		</div>
		<div class="col-md-4">
			<h4><i class="fa fa-lock"></i>&nbsp;Secure</h4>
			<p>Built with security as a priority, Bento Budget utilizes 256-bit SSL encryption and software development security best practices.  You can be sure your data is secure.</p>
		</div>       
	</div>
	<div class="row bottom-etched">
		<div class="col-md-4">
			<h4><i class="fa fa-envelope"></i>&nbsp;Envelope Method</h4>
			<p>Bento Budget is built on the proven envelope based method of budgeting which is a proactive approach to managing your money.</p>  
		</div>
		<div class="col-md-4">
			<h4><i class="fa fa-bar-chart-o"></i>&nbsp;Reports</h4>
			<p>Run useful reports which will help you understand your spending habits.  See your spending by month and compare your budgeted amounts to your actual spending.</p>
		</div>
		<div class="col-md-4">
			<h4><i class="fa fa-smile-o"></i>&nbsp;Free</h4>
			<p>Free stuff is good when you are on a budget.  The basic features are available at no charge but you can upgrade to Bento Budget Pro for more features including linked accounts, reports and transaction filters.</p>
		</div>       
	</div>
</div>